{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
  <h1 class="display-4 text-center">Full List</h1>
 
</div>
<div class="container">
<table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Other Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Telephone Number</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for person in  total_person %}
    <tbody>
      <tr>
              
          <th scope="row">{{forloop.counter}}</th> 
          <td>{{ person.first_name }}</td>
          <td>{{ person.last_name }}</td>
          <td>{{ person.other_name }}</td>
          <td>{{ person.gender }}</td>
          <td>{{ person.number }}</td>
          <td>{{ person.email }}</td>
          <td><a href="{% url 'edit' person.id %}"><button type="button" class="btn btn-primary">+</button></a></td>  
          <td><a href="{% url 'delete' person.id %}"><button type="button" class="btn btn-danger">-</button></a></td>  

        
      
      </tr>
    </tbody> 

{% endfor %}  
</table>
</div>
{% endblock %}
