{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Male list</h1>
   
  </div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Other Name</th>
        <th scope="col">Telephone Number</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    {% for male in males %}
    <tbody>
      <tr>
        
        <th scope="row">{{forloop.counter}}</th> 
        <td>{{ male.first_name }}</td>
        <td>{{ male.last_name }}</td>
        <td>{{ male.other_name }}</td>
        <td>{{ male.number }}</td>
        <td>{{ male.email }}</td>


     
      </tr>
      
{% endfor %}  
{% endblock %}

